body {
  background-color: #fff;
}
.logo-search {
  line-height:6rem;
  .logo {

    display: inline-block;
    a {
      text-align: center;
      text-decoration: none;
      color: white;
      display: block;
      height:100%;
      span.for-img-middle{
        display: inline-block;
        width:1px;
        height:100%;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }

    }
  }
  .search{
    position: relative;
    display: inline-block;
    line-height:30px;
    margin-left: 20%;
    width: 35%;
    border: 2px solid;
    border-color: $main-color;
    .search-btn {
      background-color: $main-color;
      border:none;
      width: 13%;
    }
    .search-input {
      width:87%;
      border:none;
    }
    .searchbox {
      display: none;
      position: absolute;
      z-index: 3;
      width: 360px;
      color: #999;
      background: #fff;
      border: 1px solid #ededed;
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
      top: 36px;
      left: 0;
      .searchbox-list {
        padding-left: 60px;
        position: relative;
        background-color: #ededed;
        ul {
          padding: 0;
          margin: 0;
          background: #fff;
          list-style: none;

          li {
            padding: 0 10px;
            white-space: nowrap;
            height: 37px;
            overflow: hidden;
            font-size: 14px;
            color: #333;
            &:hover {
              color: #000;
            }
            a {
              text-decoration: none;
            }
          }
        }
        &:before {
          font-size: 14px;
          color: #666;
          position: absolute;
          left: 8px;
          top: 6px;
        }
        &.searchbox-rstlist {
          li{
            a {
              display: block;
              padding: 8px 0;
            }
          }
          &:before {
            content: "商家";
          }
          .time {
            font-size: 12px;
            color: #999;
            float: right;
          }
          .name {
            font-size: 14px;
            color: #333;
          }
        }
        &.searchbox-foodlist {
          &:before {
            content: "美食";
          }
          .price {
            padding: 8px 0;
            float: right;
            font-size: 14px;
            color: #999;
            cursor: default;
          }
          .food-wrapper {
            display: block;
            overflow: hidden;
            a {
              display: inline-block;
              padding: 8px 0;
              color: #000;
            }
            >.restaurant {
              margin-left: 5px;
              color: #ccc;
              font-size: 12px;
            }
          }

        }
        &.show-separator ul {
          position: relative;
          padding-bottom: 10px;
        }

      }
      .show-separator {
        &:after {
          position: absolute;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-top: 1px solid #ececec;
          height: 0;
        }
      }
    }
  }

  a.order-entry{
    display: inline-block;
    border: 1px solid;
    border-color: $nav-color;
    line-height: 30px;
    background: $button-bg-color;
    color: $store-category-color;
    margin-left:7%;
    padding:3px 6px;
    height:100%;
    span.for-img-middle{
      display: inline-block;
      width:1px;
      height:100%;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
    }
    span.text{
      margin-left:1rem;
    }
  }
}
//body {
//  background-color: #F7F7F7;
//}
//.page-header{
//  /*text-align: center;*/
//  background-color: #1e89e0;;
//  margin:0;
//  padding:1.5rem;
//  position: fixed;
//  //height:5rem;
//  width: 100%;
//  z-index: 1000;
//  .logo {
//    position: relative;
//    left: 6rem;
//    display: inline-block;
//    a {
//      text-decoration: none;
//      color: white;
//    }
//  }
//  .topbar-item {
//    position: relative;
//    width:134px;
//    float: right;
//    right:-10px;
//    color: white;
//    text-align: center;
//    font-size: 16px;
//    &a {
//      text-decoration: none;
//    }
//  }
//  .search{
//    display: inline-block;
//    position: fixed;
//    top: 2rem;
//    right: 10rem;
//    background-color: white;
//    line-height:30px;
//    border-radius: 30px;
//    select {
//      border:none;
//      -webkit-border-radius:8px;
//      -moz-border-radius:8px;
//      border-radius:8px;
//    }
//    .search-btn {
//      background-color: transparent;
//      border:none;
//      width: 35px;
//    }
//
//    .search-input {
//      border:none;
//    }
//  }
//}