.inner-wrap {
  .profile-sidebar {
    float: left;
    margin-top: 20px;
    width: 170px;
  }
  .profile-panel {
    margin-left: 170px;
    border: 1px solid #eee;
    background-color: #fff;
    min-height: 680px;
    padding: 20px 18px;

    .profile-panel-title {
      border-bottom: 2px solid #f4f4f4;
      padding: 0 20px 11px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 30px;;
    }
    .profile-panel-content {
      display: inline-block;
      width: 100%;

      .order-list {
        width: 100%;
        word-break: break-all;
        word-wrap: break-word;
        thead{
          tr{
            line-height: 30px;
            background-color: #eee;
          }
        }
        td ,th{
          text-align: center;
          font-size: 12px;
        }
        .timeline {
          td {
            padding-top: 30px;
            padding-bottom: 30px;
          }
          .order-timeline-time {
            position: relative;
            width: 10%;
            color: #999;
            border-right: 1px #eee solid;
          }
          .order-timeline-avatar {
            padding-left: 37px;
            padding-right: 16px;
            width: 70px;
          }
          .order-timeline-info {
            text-align: left;
          }
          .order-timeline-status{
            h3 {
              color: #999;
              font-weight:400;
            }
            button {
              color: #fff;
              background-color: #ff4248;
              border: 1px solid #ff4248;
            }
          }
          .order-timeline-amount, .order-timeline-handle, .order-timeline-status {
            width: 13%;
          }
          .order-timeline-handle {
            a {
              display: inline-block;
              width: 78px;
              line-height: 24px;
              margin: 5px 0;
              color: #333;
              border: 1px solid #eee;
            }
            .ordertimeline-handle-group {
              position: relative;
              display: inline-block;
              margin-top: 5px;
              &:hover {
                a+a {
                  display: inline-block;
                }
              }
              a {
                margin: 0;
                cursor: pointer;
                &+a {
                  color: #fff;
                  background-color: #ff4248;
                  border: 1px solid #ff4248;
                  position: absolute;
                  top: 26px;
                  left: 0;
                  border: 1px solid #eee;
                  border-width: 0 1px 1px;
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}