.container {
  .inner-wrap {
    .rest-list {
      .search-foodtable {
        background: #fff;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        tbody {
          th {
            background: #f9f9f9;
            small {
              margin-right: 10px;
              padding-left: 10px;
              border-left: 1px solid #ddd;
            }
          }
          tr {
            td {
              padding: 11px 14px;
              border: 0;
              border-top: 1px solid #f5f5f5;
              a {
                color: #333;
              }
            }
            .search-col2 {
              width: 100px;
              text-align: center;
            }
            .search-col3 {
              width: 160px;
              text-align: center;
            }
            .search-col4 {
              width: 130px;
            }
          }
        }
      }
    }
  }
}