.shop-cart {
  z-index: 102;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 320px;
  height: auto;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 1px 15px #ccc;
  .shop-cartbasket {
    z-index: 1;
    //position: absolute;
    //top: 0;
    width: 100%;
    color: $store-category-color;
    .shop-grouphead-row {
      background-color: $button-bg-color;
      line-height: 39px;
      h4 {
        margin-left: 10px;
        display: inline-block;
      }
      .cart-clear {
        display: inline-block;
        float: right;
        padding-right: 18px;
        cursor: pointer;
        img {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
    .shop-cartbasket-tablerow {
      display: table;
      table-layout: fixed;
      height: 45px;
      width: 100%;
      padding: 0 10px;

      .cell {
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid #eee;
        
        span{
          display: inline-block;
          width: 33%;
          vertical-align: middle;
        }

        .ctrl{
          cursor: pointer;
          vertical-align: middle;
        }
        .plus{

        }
        .minus{

        }
      }
      .itemname {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .itemquantity {
        width: 25%;
        text-align: center;
      }

      .itemtotal {
        text-align: right;
      }
    }
  }
  .shop-cart-total {
    text-align: right;
    line-height: 34px;
    margin-right: 20px;
    color: $check-total-color;
    font-weight: 600;
    >span,>span>span:first-child{
      font-size: 14px;
    }
    >span>span:last-child {
      font-size: 20px;
    }
  }
  .shop-cartfooter {
    line-height: 46px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    .shop-cartfooter-counter {
      display: inline-block;
      width: 70%;
      background: $store-category-color;
      img {
        vertical-align: middle;
        margin-left: 20px;
      }
      .cart-length {
        position: relative;
        display: inline-block;
        background: $check-total-color;
        width: 1.2rem;
        line-height: 1.2rem;
        font-size: 1rem;
        text-align: center;
        border-radius: 8px;
        top: -0.6rem;
        left: -0.5rem;
      }
      span:last-child {
        display: inline-block;
        margin-left: 18px;
      }
    }
    .shop-cartfooter-check {
      display: inline-block;
      width: 30%;
      background: $check-total-color;
      border: none;
      padding-left: 15px;
      cursor: pointer;
      color: white;
      &[disabled]{
        background: gray;
      }
    }
  }
}