//.container {
//  position: relative;
//  /* margin-top: 5rem; */
//  padding-top: 10rem;
//}
.inner-wrap {
  //position: relative;
  padding-top: 10rem;
  width: 80%;
  margin: 0 auto;
}
.wrapper {
  width:80%;
  margin:0 auto;
}
