@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1459999533_477941.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1459999533_477941.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1459999533_477941.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1459999533_477941.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1459999533_477941.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont{font-family:"iconfont";
  font-size:16px;font-style:normal;}

//主题颜色：国贸红
$main-color:rgb(184,31,51);
//按钮背景：灰色
$button-bg-color: rgb(238,238,238);
//分类文字颜色：深灰色
$store-category-color:rgb(87,87,87);
//面包屑颜色：浅灰色
$nav-color: rgb(183,183,183);
//店铺名字颜色
$store-name-color: rgb(56,43,38);
//菜品属性颜色
$food-des-color: rgb(138,138,138);
//购物车总计颜色
$check-total-color: rgb(176,28,46);
