.search-box {
	display: flex;
	justify-content: center;
	
}
#search {
	position: relative;
	border: 1px solid #000;
	label {
		position: absolute;
	}
	input {
		border: 0;
	}
}

.navi-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.navi-choose {
	width: 30%;
	text-align: center;
}
.recommend-list, .hot-list, .navi-list {
	border: 1px solid #000;
	margin-bottom: 5px;
}
.show-list {
	display: flex;
	justify-content: space-around;
}
.recommend-thing, .hot-thing {
	width: 45%;
	text-align: left;
	img {
		width: 100%;
	}
}